In [1]:
import pandas as pd

a=[3,5,6]
myvar=pd.Series(a)
print(myvar)

0    3
1    5
2    6
dtype: int64

In [2]:
import pandas as pd

a=["Mon","Tues","Wed"]
myvar=pd.Series(a)
print(myvar)

0     Mon
1    Tues
2     Wed
dtype: object

In [21]:
#DataFrames
import pandas as pd

mydataset={
    'car':["BMW","Volvo","Ford","oddi"],
    'passings':[3,5,7,9]
}

myvar = pd.DataFrame(mydataset)
print(myvar)
print(myvar.loc[0])#location of row only 
print(myvar.loc[[0,2]])
print(myvar.head(3))
print(myvar.tail(3))

     car  passings
0    BMW         3
1  Volvo         5
2   Ford         7
3   oddi         9
car         BMW
passings      3
Name: 0, dtype: object
    car  passings
0   BMW         3
2  Ford         7
     car  passings
0    BMW         3
1  Volvo         5
2   Ford         7
     car  passings
1  Volvo         5
2   Ford         7
3   oddi         9

In [4]:
import pandas as pd

a=["Mon","Tues","Wed"]
myvar=pd.Series(a)
print(myvar[0])

Mon

In [9]:
import pandas as pd

a=["Mon","Tues","Wed"]
myvar=pd.Series(a,index=["day1","day2","day3"])
print(myvar)
print(myvar["day3"])

day1     Mon
day2    Tues
day3     Wed
dtype: object
Wed

In [11]:
import pandas as pd

a={"day1":"Mon","day2":"Tues","day3":"Wed"}
myvar=pd.Series(a)
print(myvar)
print(myvar["day3"])

day1     Mon
day2    Tues
day3     Wed
dtype: object
Wed

In [26]:
import pandas as pd

df=pd.read_csv("Book2.csv")
print(df)

    S.No.     Grocery  Quantity
0       1       Bread         1
1       2        Ragi         6
2       3     Biscuit         5
3       4     Namkeen         3
4       5      Maggie         2
5       6  Vermicilli         9
6       7        Aata         5
7       8       Bread         1
8       9        Ragi         6
9      10     Biscuit         5
10     11     Namkeen         3
11     12      Maggie         2
12     13  Vermicilli         9
13     14        Aata         5
14     15       Bread         1
15     16        Ragi         6
16     17     Biscuit         5
17     18     Namkeen         3
18     19      Maggie         2
19     20  Vermicilli         9
20     21        Aata         5

In [27]:
import pandas as pd

df=pd.read_csv("Book2.csv")
print(df.head(5))

   S.No.  Grocery  Quantity
0      1    Bread         1
1      2     Ragi         6
2      3  Biscuit         5
3      4  Namkeen         3
4      5   Maggie         2

In [28]:
import pandas as pd

df=pd.read_csv("Book2.csv")
print(df.tail(5))

    S.No.     Grocery  Quantity
16     17     Biscuit         5
17     18     Namkeen         3
18     19      Maggie         2
19     20  Vermicilli         9
20     21        Aata         5

In [29]:
import pandas as pd

df=pd.read_csv("Book2.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   S.No.     21 non-null     int64
 1   Grocery   21 non-null     object
 2   Quantity  21 non-null     int64
dtypes: int64(2), object(1)
memory usage: 632.0+ bytes
None

In [30]:
import pandas as pd

df=pd.read_csv("Book2.csv")
print(df.to_string())

    S.No.     Grocery  Quantity
0       1       Bread         1
1       2        Ragi         6
2       3     Biscuit         5
3       4     Namkeen         3
4       5      Maggie         2
5       6  Vermicilli         9
6       7        Aata         5
7       8       Bread         1
8       9        Ragi         6
9      10     Biscuit         5
10     11     Namkeen         3
11     12      Maggie         2
12     13  Vermicilli         9
13     14        Aata         5
14     15       Bread         1
15     16        Ragi         6
16     17     Biscuit         5
17     18     Namkeen         3
18     19      Maggie         2
19     20  Vermicilli         9
20     21        Aata         5

In [32]:
import pandas as pd

df=pd.read_csv("Book3.csv")
print(df)
newdf=df.dropna()
print(newdf)

    S.No.     Grocery  Quantity
0       1       Bread       1.0
1       2        Ragi       6.0
2       3     Biscuit       NaN
3       4     Namkeen       3.0
4       5      Maggie       2.0
5       6  Vermicilli       9.0
6       7        Aata       5.0
7       8       Bread       NaN
8       9        Ragi       6.0
9      10     Biscuit       5.0
10     11     Namkeen       NaN
11     12      Maggie       2.0
12     13  Vermicilli       9.0
13     14        Aata       NaN
14     15       Bread       1.0
15     16        Ragi       6.0
16     17     Biscuit       5.0
17     18     Namkeen       3.0
18     19      Maggie       2.0
19     20  Vermicilli       9.0
20     21        Aata       5.0
    S.No.     Grocery  Quantity
0       1       Bread       1.0
1       2        Ragi       6.0
3       4     Namkeen       3.0
4       5      Maggie       2.0
5       6  Vermicilli       9.0
6       7        Aata       5.0
8       9        Ragi       6.0
9      10     Biscuit       5.0
11     12      Maggie       2.0
12     13  Vermicilli       9.0
14     15       Bread       1.0
15     16        Ragi       6.0
16     17     Biscuit       5.0
17     18     Namkeen       3.0
18     19      Maggie       2.0
19     20  Vermicilli       9.0
20     21        Aata       5.0

In [33]:
import pandas as pd

df=pd.read_csv("Book3.csv")

df.dropna(inplace=True)
print(df)

    S.No.     Grocery  Quantity
0       1       Bread       1.0
1       2        Ragi       6.0
3       4     Namkeen       3.0
4       5      Maggie       2.0
5       6  Vermicilli       9.0
6       7        Aata       5.0
8       9        Ragi       6.0
9      10     Biscuit       5.0
11     12      Maggie       2.0
12     13  Vermicilli       9.0
14     15       Bread       1.0
15     16        Ragi       6.0
16     17     Biscuit       5.0
17     18     Namkeen       3.0
18     19      Maggie       2.0
19     20  Vermicilli       9.0
20     21        Aata       5.0

In [35]:
import pandas as pd

df=pd.read_csv("Book3.csv")

df.fillna(2,inplace=True)
print(df)

    S.No.     Grocery  Quantity
0       1       Bread       1.0
1       2        Ragi       6.0
2       3     Biscuit       2.0
3       4     Namkeen       3.0
4       5      Maggie       2.0
5       6  Vermicilli       9.0
6       7        Aata       5.0
7       8       Bread       2.0
8       9        Ragi       6.0
9      10     Biscuit       5.0
10     11     Namkeen       2.0
11     12      Maggie       2.0
12     13  Vermicilli       9.0
13     14        Aata       2.0
14     15       Bread       1.0
15     16        Ragi       6.0
16     17     Biscuit       5.0
17     18     Namkeen       3.0
18     19      Maggie       2.0
19     20  Vermicilli       9.0
20     21        Aata       5.0

In [36]:
import pandas as pd

df=pd.read_csv("Book3.csv")

df.fillna(2,inplace=True)
print(df)

    S.No.     Grocery  Quantity
0       1       Bread       1.0
1       2        Ragi       6.0
2       3     Biscuit       2.0
3       4     Namkeen       3.0
4       5           2       2.0
5       6  Vermicilli       9.0
6       7        Aata       5.0
7       8       Bread       2.0
8       9        Ragi       6.0
9      10     Biscuit       5.0
10     11     Namkeen       2.0
11     12      Maggie       2.0
12     13  Vermicilli       9.0
13     14        Aata       2.0
14     15       Bread       1.0
15     16        Ragi       6.0
16     17           2       5.0
17     18     Namkeen       3.0
18     19      Maggie       2.0
19     20  Vermicilli       9.0
20     21           2       5.0

In [37]:
import pandas as pd

df=pd.read_csv("Book3.csv")

df["Quantity"].fillna(2,inplace=True)
print(df)

    S.No.     Grocery  Quantity
0       1       Bread       1.0
1       2        Ragi       6.0
2       3     Biscuit       2.0
3       4     Namkeen       3.0
4       5         NaN       2.0
5       6  Vermicilli       9.0
6       7        Aata       5.0
7       8       Bread       2.0
8       9        Ragi       6.0
9      10     Biscuit       5.0
10     11     Namkeen       2.0
11     12      Maggie       2.0
12     13  Vermicilli       9.0
13     14        Aata       2.0
14     15       Bread       1.0
15     16        Ragi       6.0
16     17         NaN       5.0
17     18     Namkeen       3.0
18     19      Maggie       2.0
19     20  Vermicilli       9.0
20     21         NaN       5.0

In [38]:
import pandas as pd

df=pd.read_csv("Book3.csv")

df["Quantity"].fillna(2,inplace=True)
df["Grocery"].fillna("Lemon",inplace=True)
print(df)

    S.No.     Grocery  Quantity
0       1       Bread       1.0
1       2        Ragi       6.0
2       3     Biscuit       2.0
3       4     Namkeen       3.0
4       5       Lemon       2.0
5       6  Vermicilli       9.0
6       7        Aata       5.0
7       8       Bread       2.0
8       9        Ragi       6.0
9      10     Biscuit       5.0
10     11     Namkeen       2.0
11     12      Maggie       2.0
12     13  Vermicilli       9.0
13     14        Aata       2.0
14     15       Bread       1.0
15     16        Ragi       6.0
16     17       Lemon       5.0
17     18     Namkeen       3.0
18     19      Maggie       2.0
19     20  Vermicilli       9.0
20     21       Lemon       5.0

In [1]:
import pandas as pd
df=pd.read_csv("Book5.csv")
df["Date"]=pd.to_datetime(df["Date"])
print(df)

   S.No       Date  Pulse
0     1 2020-12-30    130
1     2 2020-02-28     98
2     3 2020-03-25    110
3     4 2020-05-22     90
4     5 2020-04-20     89

C:\Users\corporate\AppData\Local\Temp\ipykernel_7880\2122317958.py:3: UserWarning: Parsing '30-12-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df["Date"]=pd.to_datetime(df["Date"])
C:\Users\corporate\AppData\Local\Temp\ipykernel_7880\2122317958.py:3: UserWarning: Parsing '28-02-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df["Date"]=pd.to_datetime(df["Date"])
C:\Users\corporate\AppData\Local\Temp\ipykernel_7880\2122317958.py:3: UserWarning: Parsing '22-05-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df["Date"]=pd.to_datetime(df["Date"])
C:\Users\corporate\AppData\Local\Temp\ipykernel_7880\2122317958.py:3: UserWarning: Parsing '20-04-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df["Date"]=pd.to_datetime(df["Date"])

In [1]:
import pandas as pd
df=pd.read_csv("Book3.csv")
df.loc[7,"Grocery"]="Watermelon"
print(df)

    S.No.     Grocery  Quantity
0       1       Bread       1.0
1       2        Ragi       6.0
2       3     Biscuit       NaN
3       4     Namkeen       3.0
4       5         NaN       2.0
5       6  Vermicilli       9.0
6       7        Aata       5.0
7       8  Watermelon       NaN
8       9        Ragi       6.0
9      10     Biscuit       5.0
10     11     Namkeen       NaN
11     12      Maggie       2.0
12     13  Vermicilli       9.0
13     14        Aata       NaN
14     15       Bread       1.0
15     16        Ragi       6.0
16     17         NaN       5.0
17     18     Namkeen       3.0
18     19      Maggie       2.0
19     20  Vermicilli       9.0
20     21         NaN       5.0

In [4]:
import pandas as pd
df=pd.read_csv("Book2.csv")
df.drop_duplicates(inplace=True)
print(df)
#print(df.duplicated())

    S.No.     Grocery  Quantity
0       1       Bread       1.0
2       3     Biscuit       NaN
3       4     Namkeen       3.0
4       5      Maggie       2.0
5       6  Vermicilli       9.0
6       7        Aata       5.0
7       8       Bread       NaN
8       9        Ragi       6.0
9      10     Biscuit       5.0
10     11     Namkeen       NaN
11     12      Maggie       2.0
12     13  Vermicilli       9.0
13     14        Aata       NaN
14     15       Bread       1.0
15     16        Ragi       6.0
16     17     Biscuit       5.0
17     18     Namkeen       3.0
18     19      Maggie       2.0
19     20  Vermicilli       9.0
20     21        Aata       5.0

In [5]:
import pandas as pd
df=pd.read_csv("Book2.csv")
print(df.duplicated())

0     False
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
dtype: bool