In [2]:
"""Ques1 Write a program using python data structure(tuple, list & dictionary) create a directory consistring of employee detail in {id, name, job role, joining date & salary}
        perform following operation
        1. add 5 employee to directory
        2. check senior most employee from the directory#maxof()#optional
        3. add a new employee to the directory
        4. remove an employee from the directory
        5. sort the employee 
        6. with the help of function display full name(prefix like mr. & mrs.,first name & last name)
        7. list employee who's salary is above 80"""
employee_list=[]

num=5

for i in range(num):
    employee={}
    empid=int(input("Enter the employee id"))
    emp_name=input("Enter the employee name")
    designation=input("Enter the employee designation")
    joining_date=input("Enter the employee Joining date")
    salary=float(input("Enter the salary"))
    
    employee["id"]=empid
    employee["name"]=emp_name
    employee["job_role"]=designation
    employee["join_date"]=joining_date
    employee["sal"]=salary

    employee_list.append(employee)
    
print("Employee Details:")
for emp in employee_list:
    print(emp)

Enter the employee id 1
Enter the employee name v
Enter the employee designation fv
Enter the employee Joining date re
Enter the salary 23
Enter the employee id 2
Enter the employee name re
Enter the employee designation re
Enter the employee Joining date 2fe
Enter the salary 3233
Enter the employee id 3
Enter the employee name reg
Enter the employee designation fd
Enter the employee Joining date fd
Enter the salary 32432
Enter the employee id 4
Enter the employee name gfg
Enter the employee designation vf
Enter the employee Joining date vd
Enter the salary 5
Enter the employee id 5
Enter the employee name fg
Enter the employee designation gfb
Enter the employee Joining date ggb
Enter the salary 4335

Employee Details:
{'id': 1, 'name': 'v', 'job_role': 'fv', 'join_date': 're', 'sal': 23.0}
{'id': 2, 'name': 're', 'job_role': 're', 'join_date': '2fe', 'sal': 3233.0}
{'id': 3, 'name': 'reg', 'job_role': 'fd', 'join_date': 'fd', 'sal': 32432.0}
{'id': 4, 'name': 'gfg', 'job_role': 'vf', 'join_date': 'vd', 'sal': 5.0}
{'id': 5, 'name': 'fg', 'job_role': 'gfb', 'join_date': 'ggb', 'sal': 4335.0}

Enter the employee id 6
Enter the employee name rtg
Enter the employee designation tgr
Enter the employee Joining date rtg
Enter the salary 343

Modifed list
[{'id': 1, 'name': 'v', 'job_role': 'fv', 'join_date': 're', 'sal': 23.0}, {'id': 2, 'name': 're', 'job_role': 're', 'join_date': '2fe', 'sal': 3233.0}, {'id': 3, 'name': 'reg', 'job_role': 'fd', 'join_date': 'fd', 'sal': 32432.0}, {'id': 4, 'name': 'gfg', 'job_role': 'vf', 'join_date': 'vd', 'sal': 5.0}, {'id': 5, 'name': 'fg', 'job_role': 'gfb', 'join_date': 'ggb', 'sal': 4335.0}, {'id': 6, 'name': 'rtg', 'job_role': 'tgr', 'join_date': 'rtg', 'sal': 343.0}]