In [1]:
mytuple=("car","bus","truck")
print(mytuple)

('car', 'bus', 'truck')

In [2]:
mytuple=("car","bus","truck","bus","truck")
print(mytuple)

('car', 'bus', 'truck', 'bus', 'truck')

In [3]:
mytuple=("car","bus","truck","bus","truck")
print(len(mytuple))

5

In [4]:
mytuple=("car",)
print(type(mytuple))

<class 'tuple'>

In [5]:
mytuple=("car")
print(type(mytuple))

<class 'str'>

In [6]:
tuple1=("car","bus","truck")
tuple2=(1,4,5,6,7)
tuple3=(True,False,True)#T 7 F should be capital
tuple4=(1.3,4.5,6.7)
tuple5=("uru",214,True,324.1)
print(tuple1)
print(tuple2)
print(tuple3)
print(tuple4)
print(tuple5)

('car', 'bus', 'truck')
(1, 4, 5, 6, 7)
(True, False, True)
(1.3, 4.5, 6.7)
('uru', 214, True, 324.1)

In [7]:
mytuple=("car","bus","truck","bus","truck")
print(mytuple[2])

truck

In [8]:
mytuple=("car","bus","truck","bus","truck")
print(mytuple[-1])

truck

In [9]:
mytuple=("car","bus","truck","bus","truck")
print(mytuple[2:5])

('truck', 'bus', 'truck')

In [10]:
mytuple=("car","bus","truck","bus","truck")
print(mytuple[:5])

('car', 'bus', 'truck', 'bus', 'truck')

In [11]:
mytuple=("car","bus","truck","bus","truck")
print(mytuple[2:])

('truck', 'bus', 'truck')

In [12]:
mytuple=("car","bus","truck","bus","truck")
print(mytuple[-4:-2])

('bus', 'truck')

In [13]:
mytuple=("car","bus","truck","bus","truck")
if "car" in mytuple:
    print("yes is in tuple")

yes is in tuple

In [14]:
x=("apple","banana","cherry")
y=("orange",)
x+=y
print(x)

('apple', 'banana', 'cherry', 'orange')

In [15]:
#this is important
x=("apple","banana","cherry")
print(x)
y=list(x)
print(y)
#y.remove("banana")
#print(y)
y[1]="kiwi"
print(y)
y.remove("kiwi")
print(y)
y.append("orange")#add element in tuple
print(y)
x=tuple(y)
print(x)
del x
#print(x)

('apple', 'banana', 'cherry')
['apple', 'banana', 'cherry']
['apple', 'kiwi', 'cherry']
['apple', 'cherry']
['apple', 'cherry', 'orange']
('apple', 'cherry', 'orange')

In [19]:
x=("apple","banana","cherry")#packing a tuple
print(x)
(red,yellow,pink)=x#unpacking a tuple
print(red)
print(yellow)
print(pink)
print(x)

('apple', 'banana', 'cherry')
apple
banana
cherry
('apple', 'banana', 'cherry')

In [22]:
x=("apple","banana","cherry","mango","kiwi")
(red,yellow,*pink)=x # * carry all other element
(red,*yellow,pink)=x
print(red)
print(yellow)
print(pink)

apple
['banana', 'cherry', 'mango']
kiwi

In [23]:
x=("apple","banana","cherry","mango","kiwi")
mytuple=x*2
print(mytuple)

('apple', 'banana', 'cherry', 'mango', 'kiwi', 'apple', 'banana', 'cherry', 'mango', 'kiwi')

In [24]:
x=("apple","banana","cherry","mango","kiwi")
y=(1,2,4,45,67,76)
z=x+y
print(z)

('apple', 'banana', 'cherry', 'mango', 'kiwi', 1, 2, 4, 45, 67, 76)